<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{{#if header}}
<div class="container-fluid px-0 header-main">
    <nav class="navbar navbar-expand-md navbar-light p-0">
        <a class="navbar-brand ml-4" href="/home">
            <img class="image" width="50" height="65" src="/img/logo.jpeg" alt="logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <div class="option-items" style="line-height: 90px">
                    <span class="quan mr-5">Quần</span>
                    <span class="ao mr-5">Áo</span>
                    <span class="accessory mr-5">Phụ Kiện</span>
                </div>
                {{!-- <li class="nav-item mr-5">

                    <div class="dropdown-menu" id="dropdown-menu1" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="#">Quần Jeans</a>
                        <a class="dropdown-item" href="#">Quần Sort</a>
                        <a class="dropdown-item" href="#">Áo Sơ Mi</a>
                        <a class="dropdown-item" href="#">Áo Sơ Thun</a>
                    </div>
                </li> --}}
                {{!-- <li class="nav-item mr-5">
                    <div class="dropdown-menu" id="dropdown-menu2" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="#">Quần Jeans</a>
                        <a class="dropdown-item" href="#">Quần Sort</a>
                        <a class="dropdown-item" href="#">Áo Sơ Mi</a>
                        <a class="dropdown-item" href="#">Áo Sơ Thun</a>
                    </div>
                </li>
                <li class="nav-item">
                    <span class="accessory">Phu Kien</span>
                    <div class="dropdown" id="dropdown-menu3" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="#">Vòng Tay</a>
                        <a class="dropdown-item" href="#">Nhẫn</a>
                        <a class="dropdown-item" href="#">Bông Tai</a>
                    </div>
                </li> --}}
                <form class="formSearch" action="/users/search" method="get">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input id="search" name="pro_name" onKeyUp="focusName();" type="text" class="form-control"
                            placeholder="Search">
                        <button class="btn btn-submit d-none" type="submit"></button>
                    </div>
                </form>
                <span class="dark-mode" id="dark-mode"
                    style="width: 50px; height: 50px; line-height: 80px; text-align: center; font-size:25px;"><i
                        class="fa fa-moon-o btn-change-dark" aria-hidden="true"></i></span>
                <span class="dark-mode" id="dark-mode"
                    style="width: 50px; height: 50px; line-height: 80px; text-align: center; font-size:25px;"><i
                        class="fa fa-sun-o btn-change-light" aria-hidden="true"></i></span>
            </ul>
            <div>
                <a href="/users/cart">
                    <i class="bi bi-cart3"></i>
                </a>
            </div>
            {{#if username}}
            <div class="username-header">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img style="border-radius: 50%; width: 35px; height: 35px;" src="{{avatar}}" alt="avatar">&nbsp;
                    {{username}}
                    <i class="fa fa-angle-down"></i>
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <div class="dropdown-menu" id="dropdown-menu4" aria-labelledby="navbarDropdown4">
                                <a class="dropdown-item" href="/users/change-information">Đổi Thông Tin</a>
                                <a class="dropdown-item" href="/users/change-password">Đổi Mật Khẩu</a>
                                <a class="dropdown-item" href="/users/cart-history">Lịch Sử Đơn Hàng</a>
                                {{#if admin}}
                                <a class="dropdown-item" href="/admin/admin_home">Trang Quản Lý</a>
                                {{/if}}
                                <a style="display: block; width: 100%;" class="dropdown-item" href="/users/logout">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Đăng Xuất
                                </a>
                            </div>
                        </li>
                    </ul>
                </a>
            </div>
            {{/if}}
            {{#if login_icon}}
            <div><a href="/users/login"><i class="bi bi-person"></i></a></div>
            {{/if}}

        </div>
    </nav>
</div>
{{/if}}
<script>
    $(document).ready(function () {
        var url = $('.option-items').children()
        url.click(function () {
            var text = $(this).text().trim()
            let text_input = $('#search').val(text)
            if (text_input.val() != '') {
                $('.btn-submit').click()
            } else {
                return false
            }
        })
    })
</script>