<div class="mainDiv">
    <div class="cardStyle mt-5">
        <form action="/users/change-password" method="post" name="signupForm" id="signupForm">
            <h2 class="formTitle">
                Đổi Mật Khẩu
            </h2>

            <div class="inputDiv">
                <label class="inputLabel" for="password">New Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
            </div>

            <button type="submit" class="submit">Hoàn Thành</button>

        </form>
    </div>
</div>