<div class="mainDiv">
    <div class="cardStyle">
        <form action="/users/change-information" method="post">

            <img src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t39.30808-6/300587107_618534176333552_8158815202565160021_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Bg7ILmtXNSYAX_w9qqO&_nc_ht=scontent.fsgn5-11.fna&oh=00_AT9vZOv6R5Az4y4zQJQClvRbWRY63rP3qvHLlNqVMnaZKQ&oe=631252A6"
                id="signupLogo" />

            <h2 class="formTitle">
                Đổi Thông Tin
            </h2>

            <div class="inputDiv">
                <label class="inputLabel" for="email">Email</label>
                <input type="email" id="email" name="email" value="{{data.email}}">
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="phone">Số Điện Thoại</label>
                <input type="text" id="phone" name="phone" value="{{data.phone}}">
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="address">Địa Chỉ</label>
                <input type="text" id="address" name="address" value="{{data.address}}">
            </div>
            <button type="submit" class="submit">Hoàn Thành</button>

        </form>
    </div>
</div>